@use 'theme-color';
@media all and (min-width: 900px)
{
    main
    {    
        background: url("../images/bg-desktop-light.jpg") no-repeat  0 0 / 100vw 30vh, theme-color.$Very-Light-Gray;        
    
        #todo-footer
        {
            #filter-pannel
            {
                all: unset;
                display: flex;
                justify-content: space-between;
                width: 170px;                
                button {font-size: 16px; }
            }
        }    
    }
    .dark
    {
        background: url("../images/bg-desktop-dark.jpg") no-repeat  0 0 / 100vw 30vh, theme-color.$Very-Dark-Blue;
    }
}